<app-navbar></app-navbar>
<!--Image Slider -->
<main *ngIf="projectData$ | async as projectData">
    <c-carousel *ngIf="projectData?.fields?.sliderImages" [animate]="false" [dark]="true" [interval]=4000 [pause]=false
        transition="crossfade">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of projectData.fields.sliderImages;">
                <img *ngIf="isMobileView; else desktopView" [src]="slide.fields.file.url" class="d-block w-100"
                    [alt]="projectData.fields.title">
                <ng-template #desktopView>
                    <img [src]="slide.fields.file.url" class="d-block w-100" [alt]="projectData.fields.title">
                </ng-template>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control *ngIf="projectData.fields.sliderImages.length > 1" [routerLink] caption="Previous"
            direction="prev"></c-carousel-control>
        <c-carousel-control *ngIf="projectData.fields.sliderImages.length > 1" [routerLink] caption="Next"
            direction="next"></c-carousel-control>
    </c-carousel>
    <!--Image Slider Ends -->
    <!-- Amenities-->

    <!-- Amenities Ends-->
    <!--Brochure section-->
    <div class="w3-container brochure-section-container" *ngIf="projectData.fields.floorPlan">
        <div class="brochure-section">
            <h2>Floor Plan <a class="download-brochure" *ngIf="projectData.fields.brochurepdf" target="_blank"
                    [href]="projectData.fields.brochurepdf.fields.file.url"><i class="fa fa-download"></i></a></h2>
        </div>
        <div class="gallery">
            <img [src]="selectedImage" alt="Main Image" class="main-image">
            <div class="thumbnails">
                <img [src]="floorplan.fields.file.url" *ngFor="let floorplan of projectData.fields.floorPlan"
                    [alt]="floorplan.fields.title" class="thumbnail"
                    (click)="updateMainImage(floorplan.fields.file.url)">
            </div>
        </div>
        <p class="click-to-view-image-text">Click to view in full size.</p>
    </div>


    <!--Brochure Section ends-->
    <!--Location -->
    <div class="location-container"
        *ngIf="richTextHtml || (projectData?.fields?.latitudeCoordinate && projectData?.fields?.longitudeCoordinate) ">
        <div class="heading">
            <h2>Location of {{projectData.fields.title}}</h2>
        </div>
        <div class="location-section">
            <div class="location-left-section" >
                <google-map [height]="mapheight" [width]="mapWidth" [options]="options"
                    *ngIf="projectData?.fields?.latitudeCoordinate && projectData?.fields?.longitudeCoordinate">
                    <map-marker
                        [position]="{ lat: projectData?.fields.latitudeCoordinate, lng: projectData?.fields.longitudeCoordinate }"></map-marker>
                </google-map>
            </div>
            <div class="location-right-section" *ngIf="richTextHtml">
                <h4>Location Advantages</h4>
                <div class="rich-text-content" [innerHTML]="richTextHtml"></div>
            </div>
        </div>
    </div>
    <!--Location Ends-->
    <!--Customer Reviews Starts-->
    <app-customer-review *ngIf="customerReviews.length > 0" [customerReviews]="customerReviews"></app-customer-review>
    <!--Customer Review Ends-->
    <!-- RERA Number and QR Code-->

    <div class="rera-container">
        <div class="left-section" *ngIf="projectData?.fields?.reraQrCode?.fields?.file?.url">
            <img [src]="projectData.fields.reraQrCode.fields.file.url" alt="Image">
        </div>
        <div class="right-section" *ngIf="projectData?.fields?.reraNumber">
            <h4>MahaRERA Registration No: {{projectData.fields.reraNumber}}</h4>
            <a href="https://maharera.mahaonline.gov.in" target="_blank">For more details visit the MAHARERA website</a>
            <h6>&#169; 2023. ALL RIGHTS RESERVED</h6>
        </div>
    </div>

</main>
<app-footer></app-footer>