.carousel-item img {
    width: 100%;
    height: auto;
}

/* The dots/bullets/indicators */
.dots {
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 85%;
    left: 47%;
    width: 100px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #D7B96D;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #47AD9F;
}

.dot:hover {
    cursor: pointer;
}

/* carousel.component.css */
.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    /* Increased duration and smooth easing function */
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-next.active,
.carousel-fade .carousel-item-prev.active {
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 1.5s ease-in-out;
    /* Ensure all transitions match */
}

@media only screen and (min-width: 769px) {
    .carousel-item img {
        aspect-ratio: 2.81/1;
    }
}

@media only screen and (max-width: 769px) {
    .dots {
        height: 30px;
        top: 90%;
        left: 40%;
    }
}
/*RERA QR Code & Number*/
.rera-container {
    background-color: #47AD9F;
    display: flex;
    flex-wrap: wrap;

}

.left-section,
.right-section {
    width: 45%;
    padding-top: 2%;
    text-align: center;
    /* Center align content */
    margin: 0 auto;
    /* Center horizontally */
}

.right-section {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.right-section a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.right-section a:hover {
    color: #ba9f5b;
}

.right-section h4 {
    margin-top: 5%;
    color: white;
}

.left-section img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .rera-container {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center align items vertically */
    }

    .left-section,
    .right-section {
        width: 90%;
    }
}
/*Location Section*/
.location-header {
    background-color: #f2f2f2;
    color: #47AD9F;
    font-family: 'Roboto', sans-serif;
}

.heading {
    margin-bottom: 30px;
}

.heading h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 30px;
    padding-bottom: 40px;
    align-items: left;
}

.col-lg-6 {
    width: 50%;
    padding-left: 10%;
}

iframe {
    border: none;
    max-width: 100%;
    height: 400px;
}

h4 {
    font-size: 30px;
    color: #47AD9F;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

ul.list {
    list-style-type: none;
    padding-left: 20px;
}

ul.list li {
    font-size: 20px;
    line-height: 1.5;
    color: #ba9f5b;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.map-container {
    text-align: center;
    margin: auto;
}

/* Media queries for responsive design */

/* Tablet View */
@media screen and (max-width: 992px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-lg-6 {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }

    ul.list li {
        font-weight: bold;
        /* Making text bold */
        text-align: center;
        /* Centering text */
    }
}


/* Mobile View */
@media screen and (max-width: 576px) {
    .heading h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 25px;
        text-align: center;
    }

    ul.list li {
        font-size: 18px;
    }
}

/* Desktop View */
@media screen and (min-width: 992px) {
    ul.list li {
        font-weight: normal;
        /* Reverting text to default */
    }
}

@media only screen and (min-width: 768px) {
    .map-container {
        text-align: initial;
    }
}
.rich-text-content {
    font-size: 20px;
    line-height: 1;
    color: #ba9f5b;
    margin-bottom: 10px;
    font-family: 'Roboto',
        sans-serif;
}
.container {
    margin-top: 2%;
        margin-bottom: 2%;
    width: 600px;
    height: 500px;
    }
    
    .section-heading {
        margin-bottom: 5%;
    
        color: #47AD9F;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 35px;
        padding-top: 15px;
}
/**Brochure Section */
.brochure-section-container {
    box-sizing: inherit;
}

.brochure-section h2 {
    font-weight: bold;
    text-align: center;
    color: #47AD9F;
}

.click-to-view-image-text {
    margin-top: 10px;
    text-align: center;
    color: #ba9f5b;
}

.fa-download {
    font-size: 24px;
}

/*********************************/
.brochure-section-container {
    padding-top: 2%;
}

.gallery {
    width: 100%;
    max-width: 1000px;
    /* Maximum width for desktop view */
    margin: 0 auto;
    position: relative;
}

/* Selected image */
.main-image {
    width: 100%;
    max-width: 700px;
    margin-left: 15%;
    margin-top: 2%;
    height: 500px;
    /* Height for selected image */
    object-fit: contain;
    /* Maintain aspect ratio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Shadow for main image */
    transition: opacity 0.5s ease-in-out;
    /* Smooth fading transition */
}

.fa-download {
    font-size: 24px;
    color: #47AD9F;
    margin-right: 2%;
}

/* Thumbnails container */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Thumbnail images */
.thumbnail {
    width: 100px;
    /* Thumbnail width */
    height: 70px;
    /* Thumbnail height */
    object-fit: cover;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Responsive layout */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .thumbnails {
        flex-wrap: wrap;
    }

    .main-image {
        width: 75%;
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .brochure-section-container {
        padding-top: 5%;
    }

    .gallery {
        max-width: 100%;
        margin-top: 2%;
        /* Full width for mobile view */
    }

    .thumbnail {
        width: 75px;
        /* Smaller thumbnail size for mobile */
        height: 50px;
    }

    .main-image {
        width: 90%;
        height: 300px;
        margin-left: 5%;
    }
}