<app-navbar></app-navbar>
<!--Image Slider -->
<main *ngIf="projectData$ | async as projectData">
    <div class="carousel-container">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let slider of projectData.fields.sliderImages; let i = index" class="carousel-item"
                    [class.active]="i === activeDotIndex">
                    <img *ngIf="isMobileView; else desktopView" [src]="slider.fields.file.url" class="d-block w-100"
                        [alt]="projectData.fields.title">
                    <ng-template #desktopView>
                        <img [src]="slider.fields.file.url" class="d-block w-100" [alt]="projectData.fields.title">
                    </ng-template>
                </div>
            </div>
            <button *ngIf="projectData.fields.sliderImages.length > 1" class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="prevSlide()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button *ngIf="projectData.fields.sliderImages.length > 1" class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="nextSlide()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--Image Slider Ends -->
    
    <!-- RERA Number and QR Code-->
    
    <div class="rera-container">
        <div class="left-section" *ngIf="projectData?.fields?.reraQrCode?.fields?.file?.url">
            <img [src]="projectData.fields.reraQrCode.fields.file.url" alt="Image">
        </div>
        <div class="right-section" *ngIf="projectData?.fields?.reraNumber">
            <h4>MahaRERA Registration No: {{projectData.fields.reraNumber}}</h4>
            <a href="https://maharera.mahaonline.gov.in" target="_blank">For more details visit the MAHARERA website</a>
            <h6>&#169; 2023. ALL RIGHTS RESERVED</h6>
        </div>
    </div>

</main>
<app-footer></app-footer>