<app-navbar></app-navbar>
<!--Image Slider -->
<main *ngIf="projectData$ | async as projectData">
    <c-carousel [animate]="false" [dark]="true" transition="crossfade">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of projectData.fields.sliderImages;">
                <img *ngIf="isMobileView; else desktopView" [src]="slide.fields.file.url" class="d-block w-100"
                    [alt]="projectData.fields.title">
                <ng-template #desktopView>
                    <img [src]="slide.fields.file.url" class="d-block w-100" [alt]="projectData.fields.title">
                </ng-template>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control *ngIf="projectData.fields.sliderImages.length > 1" [routerLink] caption="Previous"
            direction="prev"></c-carousel-control>
        <c-carousel-control *ngIf="projectData.fields.sliderImages.length > 1" [routerLink] caption="Next"
            direction="next"></c-carousel-control>
    </c-carousel>
    <!--Image Slider Ends -->
    <!-- Amenities-->
    <!-- <div class="container">
        <h1 class="text-center section-heading">Amenity</h1>
        <app-touch-slider [projectData$]="projectData$"></app-touch-slider>
    </div> -->

    <!-- Amenities Ends-->
    <!--Brochure section-->
    <div class="w3-container brochure-section-container">
        <div class="brochure-section">
            <h2>Floor Plan <a class="download-brochure" *ngIf="projectData.fields.brochurepdf" target="_blank"
                    [href]="projectData.fields.brochurepdf.fields.file.url"><i class="fa fa-download"></i></a></h2>
        </div>
        <div class="gallery">
            <img [src]="selectedImage" alt="Main Image" class="main-image">
            <div class="thumbnails">
                <img [src]="floorplan.fields.file.url" *ngFor="let floorplan of projectData.fields.floorPlan"
                    [alt]="floorplan.fields.title" class="thumbnail"
                    (click)="updateMainImage(floorplan.fields.file.url)">
            </div>
        </div>
        <p class="click-to-view-image-text">Click to view in full size.</p>
    </div>


    <!--Brochure Section ends-->
    <!--Location -->
    <div class="location-header">
        <div class="heading animate">
            <h2>Location of {{projectData.fields.title}}</h2>
        </div>
        <div class="row m-0 p-0 mt-5 align-items-center">
            <div class="col-lg-6 google-map">
                <!-- <google-map [options]="options"> </google-map> -->
            </div>

            <div class="col-lg-6 pl-5">
                <h4>Location Advantages</h4>
                <ul class="list loc">
                    <div class="rich-text-content" *ngIf="richTextHtml" [innerHTML]="richTextHtml"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--Location Ends-->
    <app-customer-review></app-customer-review>
    <!-- RERA Number and QR Code-->

    <div class="rera-container">
        <div class="left-section" *ngIf="projectData?.fields?.reraQrCode?.fields?.file?.url">
            <img [src]="projectData.fields.reraQrCode.fields.file.url" alt="Image">
        </div>
        <div class="right-section" *ngIf="projectData?.fields?.reraNumber">
            <h4>MahaRERA Registration No: {{projectData.fields.reraNumber}}</h4>
            <a href="https://maharera.mahaonline.gov.in" target="_blank">For more details visit the MAHARERA website</a>
            <h6>&#169; 2023. ALL RIGHTS RESERVED</h6>
        </div>
    </div>

</main>
<app-footer></app-footer>