.carousel-item img {
    width: 100%;
    height: auto;
}

/* The dots/bullets/indicators */
.dots {
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 85%;
    left: 47%;
    width: 100px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #D7B96D;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #47AD9F;
}

.dot:hover {
    cursor: pointer;
}

/* carousel.component.css */
.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    /* Increased duration and smooth easing function */
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-next.active,
.carousel-fade .carousel-item-prev.active {
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 1.5s ease-in-out;
    /* Ensure all transitions match */
}

@media only screen and (min-width: 769px) {
    .carousel-item img {
        aspect-ratio: 2.81/1;
    }
}

@media only screen and (max-width: 769px) {
    .dots {
        height: 30px;
        top: 90%;
        left: 40%;
    }
}
/*RERA QR Code & Number*/
.rera-container {
    background-color: #47AD9F;
    display: flex;
    flex-wrap: wrap;

}

.left-section,
.right-section {
    width: 45%;
    padding-top: 2%;
    text-align: center;
    /* Center align content */
    margin: 0 auto;
    /* Center horizontally */
}

.right-section {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.right-section a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.right-section a:hover {
    color: #ba9f5b;
}

.right-section h4 {
    margin-top: 5%;
}

.left-section img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .rera-container {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center align items vertically */
    }

    .left-section,
    .right-section {
        width: 90%;
    }
}