.carousel-item img {
    width: 100%;
    height: auto;
}

/* carousel.component.css */
.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    /* Increased duration and smooth easing function */
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-next.active,
.carousel-fade .carousel-item-prev.active {
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 1.5s ease-in-out;
    /* Ensure all transitions match */
}
/*** Amenities Section*/


/*** Amenities Section Ends*/
.left-section,
.right-section {
    width: 45%;
    padding-top: 2%;
    text-align: center;
    /* Center align content */
        margin: 0 auto;
    /* Center horizontally */
}

.right-section {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.right-section a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.right-section a:hover {
    color: #ba9f5b;
}

.right-section h4 {
    margin-top: 5%;
    color: white;
}

.left-section img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    height: auto;
}


/*Location Section*/
.location-container {
    background-color: #f2f2f2;
    color: #47AD9F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom : 3%;
   
}

.location-section{
    display: flex;
    flex-wrap: wrap;
}
.location-right-section h4{
    text-align: left;
}

.heading {
    margin-bottom: 30px;
}

.heading h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.location-left-section {
    width: 50%;
    padding-left: 12%;
    align-items: center;
}

.location-right-section {
    padding-left: 5%;
    width: 50%;
    align-items: center;
}

.location-adv {
    margin-top: 0px;
    padding-top: 0px;
}

h4 {
    font-size: 30px;
    color: #47AD9F;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.map-container {
    text-align: center;
    margin: auto;
}

.rich-text-content {
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: #ba9f5b;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    margin-left: -10%;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 600px;
    height: 500px;
}

.section-heading {
    margin-bottom: 5%;

    color: #47AD9F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
}

/**Brochure Section */
.brochure-section-container {
    box-sizing: inherit;
}

/*RERA QR Code & Number*/
.rera-container {
    background-color: #47AD9F;
    display: flex;
    flex-wrap: wrap;

}

.brochure-section h2 {
    color: #47AD9F; 
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.click-to-view-image-text {
    margin-top: 10px;
    text-align: center;
    color: #ba9f5b;
}

.fa-download {
    font-size: 24px;
}

/*********************************/
.brochure-section-container {
    padding-top: 2%;
}

.gallery {
    width: 100%;
    max-width: 1000px;
    /* Maximum width for desktop view */
    margin: 0 auto;
    position: relative;
    }
    
    /* Selected image */
.main-image {
	width: 100%;
	max-width: 700px;
	margin-left: 15%;
	margin-top: 2%;
	height: 500px;
	/* Height for selected image */
	object-fit: contain;
	/* Maintain aspect ratio */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/* Shadow for main image */
	transition: opacity 0.5s ease-in-out;
	/* Smooth fading transition */
}
    
.fa-download {
	font-size: 24px;
	color: #47AD9F;
	margin-right: 2%;
}

/* Thumbnails container */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Thumbnail images */
.thumbnail {
    width: 100px;
    /* Thumbnail width */
    height: 70px;
    /* Thumbnail height */
    object-fit: cover;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ba9f5b;
}
/**Responsive for Tablet View Only*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .thumbnails {
        flex-wrap: wrap;
    }

    .main-image {
        width: 75%;
        height: 400px;
    }
    .rera-container {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center align items vertically */
    }

    .location-section {
        flex-direction: column;
    }
    .rich-text-content{
        text-align: center;
        padding-left: 0%;
    }

    .location-left-section {
        padding-left: 15%;
        padding-top: 0%;
        align-items: center;
    }
    .location-right-section{
        padding-left: 0%;
        padding-top: 3%;
        width: 100%;
    }
    .location-right-section h4{
        padding-left: 0%;
        padding-top: 3%;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
/** Responsive for Mobile view Only*/
@media only screen and (max-width: 767px) {
    .brochure-section-container {
        padding-top: 5%;
    }
 
    .gallery {
        max-width: 100%;
        margin-top: 2%;
     /* Full width for mobile view */
    }
    
    .thumbnail {
        width: 75px;
     /* Smaller thumbnail size for mobile */
        height: 50px;
    }
    
    .main-image {
        width: 90%;
        height: 300px;
        margin-left: 5%;
    }
    .rera-container {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center align items vertically */
    }

    .left-section,
    .right-section {
        width: 90%;
    }
    .location-section {
        width: 90%;
        flex-direction: column;
    }
    .rich-text-content{
        text-align: center;
        padding-left: 5%;
    }

    .location-left-section {
        padding-left: 5%;
        padding-top: 3%;
        align-items: center;
    }
    .location-right-section{
        padding-left: 17%;
        padding-top: 3%;
        width: 100%;
        align-items: center;
    }
    .location-right-section h4{
        /* padding-left: 5%;
        padding-top: 3%;
        width: 100%;
        align-items: center; */
        width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    }
    
    
}