.heading {
    margin-bottom: 0%;
}

.heading h2 {
    color: #47AD9F;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 15px;
    margin-bottom: 0px !important;
    font-family: 'Roboto', sans-serif;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
        background-color: #f2f2f2;
    padding-bottom: 25px;
}

.review-items {
    display: flex;
    overflow: hidden;
    width: 80%;
    position: relative;
    padding: 10px;
}

.quote-icon {
    margin-right: 265px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 3em;
    color: #6c757d;
}

.review-card {
    flex: 1 0 20%;
    /* Adjust the percentage based on the number of items per page */
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-card h3 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
    color: #47AD9F;
}

.customer-name {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ba9f5b;
}

.nav-button {
    background-color: #47AD9F;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-button:hover {
    background-color: #ba9f5b;
}