/* Welcome To Daksham Developers */
.homepage-about-container {
    margin-top: 3rem;
        margin-bottom: 2rem;
    font-weight: bold;
    color: #47AD9F;
    font-size: 35px;
    text-align: left;
    padding: 0% 10%;
}

.homepage-about-content {
    text-align: left;
    color: #ba9f5b;
    font-size: 20px;
}


/* Welcome To Daksham Developers */
@media screen and (max-width: 767px) {
    .homepage-about-container {
        text-align: center;
        font-size: 25px;
    }

    .homepage-about-content {
        text-align: center;
        font-size: 15px;

    }
}

.custom-carousel-indicators .carousel-indicators [data-bs-target] {
    background-color: #ba9f5b !important;
    /* For non-active indicators */
}

.custom-carousel-indicators .carousel-indicators [data-bs-target].active {
    background-color: #ba9f5b !important;
    /* For active indicators */
}

.custom-carousel-indicators .carousel-indicators [data-bs-target]:hover {
    background-color: #ba9f5b !important;
    /* For hovered indicators */
}