<div class="slider-container">
    <div class="slider-item" *ngFor="let projectData of projects; let i = index" [ngClass]="{
        'selected':i === selectedIndex,
        'prev':i === selectedIndex - 1,
        'next':i === selectedIndex + 1,
        'hideLeft':i < selectedIndex - 1,
        'hideRight':i > selectedIndex + 1,

    }">
        <pre>
                {{projectData | json }}
            </pre>
        <img [src]="projectData.fields.sliderImages.fields.file.url" [alt]="projectData.imgAlt" class="slider-img"
            (panright)="showPrev(i)" (panleft)="showNext(i)">

    </div>
</div>