<div class="slider-container" *ngIf="projectData$ | async as projectData">
    <div class="slider-item" *ngFor="let amenityImage of projectData.fields.amenityImages;; let i = index" [ngClass]="{
        'selected':i === selectedIndex,
        'prev':i === selectedIndex - 1,
        'next':i === selectedIndex + 1,
        'hideLeft':i < selectedIndex - 1,
        'hideRight':i > selectedIndex + 1,

    }">
    <img [src]="amenityImage.fields.file.url" [alt]="projectData.imgAlt" class="slider-img"
            (panright)="showPrev(i)" (panleft)="showNext(i)">

    </div>
</div>