<div class="homepage-about-container">
    <span>Our Story in a Nutshell</span>
    <div class="homepage-about-content">
        Our journey began with a simple idea: putting people first. We believe in being your first step towards a better
        future, just like the first ray of sunlight. Our mission? To build homes that stand as strong as your first
        decisions.
    </div>
</div>

<div class="homepage-about-container">
    <span>Why "Crafting Reliability, Building Trust"?</span>
    <div class="homepage-about-content">
        Our tagline says it all. We're not just about constructing structures; we're about constructing your trust. Our
        dedicated team ensures that every project reflects the trustworthiness that you'd expect from your first
        encounter with us.
    </div>
</div>

<div class="homepage-about-container">
    <span>What We Promise</span>
    <div class="homepage-about-content">
        Honesty, trust, and turning your dreams into reality – that's what Daksham Developers is all about. We
        understand that a home is where your life story takes root. Whether you're looking for your very first home or a
        space that marks the beginning of your business, we're here, side by side, making sure your first moments in
        your new space are nothing short of memorable.
    </div>
</div>
<div class="homepage-about-container">
    <span>Join Us on This Exciting Journey</span>
    <div class="homepage-about-content">
        Come aboard this exciting journey with us! Whether you're searching for your very first home or a space that
        marks the beginning of a new chapter, we're here to make it a reality. Explore our projects; each one reflects
        our commitment to being your first choice.
        <br>
        Welcome to Daksham Developers, where your first step leads to a world of possibilities.
    </div>
</div>
<div class="homepage-about-container">
    <span>Meet the Partners</span>
    <div class="homepage-about-content">
        At Daksham Developers, our strength lies in the people behind the scenes. Allow us to introduce you to the
        dynamic minds shaping our journey:
    </div>
</div>




<div class="responsive-container-block container" id="Director">
    <!-- <p class="text-blk team-head-text">
   Meet Our Director
  </p> -->
    <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-11 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
                <div class="team-image-wrapper">
                    <img class="team-member-image" src="../../assets/images/avatar1.png">
                </div>
                <p class="text-blk name">
                    Amit Kalra
                </p>
                <p class="text-blk position">
                    Co-Director
                </p>
                <p class="text-blk feature-text">
                    Amit Kalra, a visionary with a passion for luxury and uncompromising quality, brings years of
                    experience in the real estate and construction industry. His innovative ideas and commitment to
                    excellence set the foundation for our projects. Amit ensures that every detail, from design to
                    finishing touches, reflects the values of trust and reliability that Daksham Developers stands for.
                </p>
            </div>
        </div>


        <div class="responsive-cell-block wk-desk-11 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
                <div class="team-image-wrapper">
                    <img class="team-member-image" src="../../assets/images/profile.png">
                </div>
                <p class="text-blk name">
                    Ravi Iyer
                </p>
                <p class="text-blk position">
                    Co-Director
                </p>
                <p class="text-blk feature-text">
                    Ravi Iyer, our co-director, is a master of execution and quality. With a background in [relevant
                    expertise], Ravi transforms ideas into reality with precision and dedication. His hands-on approach
                    ensures that every project meets the highest standards of craftsmanship. Ravi's focus on execution
                    and attention to detail drives our success.
                    <br>
                    Together, as co-directors of Daksham Developers, Amit Kalra and Ravi Iyer stand united in their
                    commitment to crafting reliability and building trust. With Amit's ideas for luxury and quality
                    combined with Ravi's executional prowess, Daksham Developers continues to be a beacon of quality and
                    integrity in the world of real estate and construction.

                </p>
            </div>
        </div>
    </div>
</div>