<div class="carousel-container">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let project of projects; let i = index" class="carousel-item" [class.active]="i === activeDotIndex">
                <img *ngIf="isMobileView; else desktopView" [src]="project.fields.mobilebanner.fields.file.url"
                    class="d-block w-100" [alt]="project.fields.title">
                <ng-template #desktopView>
                    <img [src]="project.fields.banner.fields.file.url" class="d-block w-100" [alt]="project.fields.title">
                </ng-template>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev" (click)="prevSlide()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next" (click)="nextSlide()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="dots">
        <span *ngFor="let project of projects; let i = index" class="dot" data-bs-target="#carouselExampleControls"
            [attr.data-bs-slide-to]="i" [class.active]="i === activeDotIndex" [class.active-dot]="i === activeDotIndex"
            (click)="goToSlide(i)">
        </span>
    </div>
</div>