<div class="navbar" id="mynavbar">
    <a class="nav-logo-a"><img class="nav-logo" src="../../assets/images/Daksham-header-logo.jpg"
            alt="Daksham Logo"></a>
    <a class="nav-aboutus hover-underline-animation" href="pages/OurTeam.html">About Us</a>
    <a class="nav-contactus hover-underline-animation" href="#footer">Contact Us</a>
    <a class="nav-enquiry hover-underline-animation" onclick="openEnquiryForm()">Enquiry</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>