/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #ffffff !important;
        padding: 0%;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: #47AD9F;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
    font-weight: bold;
    cursor: pointer;
}


.nav-home:hover,
.nav-contactus:hover,
.nav-enquiry:hover,
.nav-aboutus:hover {
    cursor: pointer;
    color: #D7B96D;
}

.nav-contactus,
.nav-aboutus {
    float: left;
}

.nav-enquiry {
    float: left;

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #D7B96D;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #D7B96D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-logo-a {
    max-width: 53%;
    padding-left: 15px !important;
    padding-right: 5px !important;
    padding-top: 7px !important;
    padding-bottom: 8px !important;
}

